<%- include('../_partial/_header'); -%>

<h1>Welcome to  my Webscrape Home Page</h1>

<%- include ('../_partial/_footer'); -%>

<button onclick="location.href='https://internbytes.com/display-review?epochTime=1611606367492'" type="button">
    www.internbytes.com</button>

    <h2 class="font-weight-light font-italic">HP</h2>
    <h1 class="">Love the work life balance</h1>
    <h5 class="text-black-50">Posted: Jan 25 2021</h5>

    <h4 class="text-black-50 my-auto">Internship Details</h4>
    <h5 class="lead">Position: Software Developer</h5>
    <h5 class="lead">Term:Summer 2018</h5>
    <h5 class="lead">Location:Houston, TX</h5>
    <h5 class="lead">Category:Engineering</h5>

    <h4 class="text-black-50 my-auto">Reviewer Details</h4>
    <h5 class="lead">Major:Computer Science</h5>
    <h5 class="lead">Classification: Junior</h5>
    <h5 class="lead">School:University of Houston</h5>
    <h4 class="text-black-50 my-auto">Compensation Details</h4>
    <h5 class="lead">Hourly|Monthly: $22 | $3810.4</h5>
    <h5 class="lead">Relocation:$0</h5>
    <h4 class="my-auto text-black-50">Written Review</h4>
    <p class="text-break" style="color: rgb(0, 0, 0, 0.9);">I enjoyed that I was able to do a full summer semester while interning 40 hrs a week. Team was chill with needing days of for exams.</p>
    <h4 class="my-auto text-black-50">Work Review</h4>
    <label for="challengeSlider" style="font-weight: bold;">This internship challenged
        me
        and the work
        was stimulating:</label>
        <label for="meaningfulSlider" style="font-weight: bold;"> My work contributed to the
            betterment of
            the company or team:</label>
            <label for="insightSlider" style="font-weight: bold;"> This internship provided work
                relative to what I will be doing in my career:</label>
                <h4 class="my-auto text-black-50">Manager/Mentor Review</h4>
                <label for="availabilitySlider" style="font-weight: bold;">My manager/mentor was
                    available when
                    needed:</label>
                    <label for="helpfulnessSlider" style="font-weight: bold;">My manager/mentor helped
                        me
                        thoroughly
                        when
                        I had a question or concern:</label>
                        <h4 class="my-auto text-black-50">Location Review</h4>
                        <label for="jobTrainingSlider" style="font-weight: bold;"> There were frequent
                            things to
                            do at this location:</label>
                            <label for="environmentFriendlySlider" style="font-weight: bold;"> I would live in
                                the
                                city I interned at:</label>
                                <h4 class="my-auto text-black-50">Benefits</h4>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                    Provided
                                    housing
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                    Activities(e.g. ping-pong, board games, etc.)
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">Free
                                    breakfast or lunch/dinner
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">Snack
                                    bar
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">Free
                                    beverages
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">Free
                                    coffee/tea
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                    Opportunity to receive certifications
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">Public
                                    transportation subsidy
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                    Excursion/Tours
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">Free
                                    swag/merchandise
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                    Flexible
                                    schedule
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                    Vacation
                                    days
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                    Discounts
                                    on company products
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                    Gym/Recreation center products
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                    Company
                                    laptop/monitor products
                                </p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                    Wellness/Medical center
                                </p>
                                <h4 class="my-auto text-black-50">Final Thoughts</h4>
                                <p style="font-weight: bold;">Would you recommend this internship to a friend?</p>
                                <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                    Yes.</p>
                                    <p class="mt-4" style="font-weight: bold;">Are you returning?</p>
                                    <p class="font-weight-bold my-auto ml-1" style="color:rgb(0, 0, 0, 0.5);">
                                        Yes.</p>